USE [master]
GO
/****** Object:  Database [PETIPUAS]    Script Date: 23/3/2022 02:36:25 ******/
CREATE DATABASE [PETIPUAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PETIPUAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PETIPUAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PETIPUAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PETIPUAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PETIPUAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PETIPUAS]
GO
/****** Object:  Table [dbo].[ANIMAL]    Script Date: 23/3/2022 02:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANIMAL](
	[ID_ANIMAL] [int] IDENTITY(1,1) NOT NULL,
	[ANIMAL] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ANIMAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRITO]    Script Date: 23/3/2022 02:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRITO](
	[ID_CARRITO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 23/3/2022 02:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[ACTIVOS] [bit] NULL,
	[FECHA_REGISTRO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITA]    Script Date: 23/3/2022 02:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITA](
	[ID_CITA] [int] IDENTITY(1,1) NOT NULL,
	[ID_MASCOTA] [int] NULL,
	[FECHA_CITA] [date] NULL,
	[OBSERVACIONES] [varchar](100) NULL,
	[ID_TIPO_CITA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CITA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 23/3/2022 02:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[PRIMER_APELLIDO] [varchar](100) NULL,
	[SEGUNDO_APELLIDO] [varchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[NOMBRE_USUARIO] [varchar](50) NULL,
	[CONTRASENA] [varchar](150) NULL,
	[ID_PROVINCIA] [int] NULL,
	[DIRECCION] [varchar](100) NULL,
	[FECHA_REGISTRO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_VENTA]    Script Date: 23/3/2022 02:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_VENTA](
	[ID_DETALLE_VENTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_VENTA] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[TOTAL] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASCOTA]    Script Date: 23/3/2022 02:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASCOTA](
	[ID_MASCOTA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_MASCOTA] [varchar](50) NULL,
	[EDAD] [int] NULL,
	[ID_ANIMAL] [int] NULL,
	[ID_CLIENTE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MASCOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 23/3/2022 02:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[ID_CATEGORIA] [int] NULL,
	[PRECIO] [decimal](10, 2) NULL,
	[STOCK] [int] NULL,
	[RUTA_IMAGEN] [varchar](100) NULL,
	[NOMBRE_IMAGEN] [varchar](100) NULL,
	[ACTIVO] [bit] NULL,
	[FECHA_REGISTRO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 23/3/2022 02:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[ID_PROVINCIA] [varchar](7) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_CITA]    Script Date: 23/3/2022 02:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_CITA](
	[ID_TIPO_CITA] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_CITA] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_CITA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 23/3/2022 02:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[PRIMER_APELLIDO] [varchar](100) NULL,
	[SEGUNDO_APELLIDO] [varchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[CONTRASENA] [varchar](150) NULL,
	[RESTABLECER] [bit] NULL,
	[ACTIVO] [bit] NULL,
	[ID_PROVINCIA] [int] NULL,
	[DIRECCION] [varchar](100) NULL,
	[FECHA_REGISTRO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 23/3/2022 02:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[ID_VENTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[TOTAL_PRODUCTO] [int] NULL,
	[MONTO_TOTAL] [decimal](10, 2) NULL,
	[CONTACTO] [varchar](50) NULL,
	[ID_DISTRITO] [varchar](10) NULL,
	[TELEFONO] [varchar](50) NULL,
	[DIRECCION] [varchar](500) NULL,
	[ID_TRANSACCION] [varchar](50) NULL,
	[FECHA_VENTA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CATEGORIA] ADD  DEFAULT ((1)) FOR [ACTIVOS]
GO
ALTER TABLE [dbo].[CATEGORIA] ADD  DEFAULT (getdate()) FOR [FECHA_REGISTRO]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (getdate()) FOR [FECHA_REGISTRO]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT ((0)) FOR [PRECIO]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT ((1)) FOR [ACTIVO]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT (getdate()) FOR [FECHA_REGISTRO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [RESTABLECER]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((1)) FOR [ACTIVO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (getdate()) FOR [FECHA_REGISTRO]
GO
ALTER TABLE [dbo].[VENTA] ADD  DEFAULT (getdate()) FOR [FECHA_VENTA]
GO
ALTER TABLE [dbo].[CARRITO]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CARRITO]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[CITA]  WITH CHECK ADD FOREIGN KEY([ID_MASCOTA])
REFERENCES [dbo].[MASCOTA] ([ID_MASCOTA])
GO
ALTER TABLE [dbo].[CITA]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_CITA])
REFERENCES [dbo].[TIPO_CITA] ([ID_TIPO_CITA])
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[VENTA] ([ID_VENTA])
GO
ALTER TABLE [dbo].[MASCOTA]  WITH CHECK ADD FOREIGN KEY([ID_ANIMAL])
REFERENCES [dbo].[ANIMAL] ([ID_ANIMAL])
GO
ALTER TABLE [dbo].[MASCOTA]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
USE [master]
GO
